<div class="login-container">
    <h2>Iniciar sesión</h2>
    
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <!-- Campo para el nombre de usuario -->
      <div class="form-group">
        <label for="userName">Nombre de usuario</label>
        <input
          type="text"
          id="userName"
          name="userName"
          class="form-control"
          [(ngModel)]="user.username"
          [required]="true"
          #userNameField="ngModel"
        />
        <div *ngIf="userNameField.invalid && userNameField.touched" class="error-message">
          <small *ngIf="userNameField.errors?.['required']">El nombre de usuario es obligatorio.</small>
        </div>
      </div>
  
      <!-- Campo para la contraseña -->
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          [(ngModel)]="user.password"
          [required]="true"
          autocomplete="current-password"
          #passwordField="ngModel"
        />
        <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
          <small *ngIf="passwordField.errors?.['required']">La contraseña es obligatoria.</small>
        </div>
      </div>
  
      <!-- Botón de inicio de sesión -->
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loginForm.invalid"
        >
          Iniciar sesión
        </button>
      </div>
    </form>
    
    <!-- Enlace para recuperar la contraseña -->
    
  </div>
  
  