<div *ngIf="errorMessage; else customerList">
  <p class="alert alert-danger">{{ errorMessage }}</p>
</div>

<ng-template #customerList>
  <br>
  <button routerLink="/customer/register" class="btn btn-outline-primary mb-3">Nuevo Cliente</button>

  <div class="table-responsive" >
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">Empresa</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Dirección</th>
          <th scope="col">Email</th>
          <th scope="col">Tipo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <th scope="row">{{ customer.idCustomer }}</th>
          <td>{{ customer.name }}</td>
          <td>{{ customer.pSurname }}</td>
          <td>{{ customer.mSurname }}</td>
          <td>{{ customer.company }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.type }}</td>
          <td>
            <!-- Botón para editar -->
            <button 
              class="btn btn-warning btn-sm" 
              [routerLink]="['/customer/edit', customer.idCustomer]"
            >
              Editar
            </button>

            <!-- Botón para eliminar -->
            <button 
              class="btn btn-danger btn-sm" 
              (click)="deleteCustomer(customer.idCustomer)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
